[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "claudesync"
version = "0.2.5"
authors = [
    {name = "Jahziah Wagner", email = "jahziah.wagner+pypi@gmail.com"},
]
description = "A tool to synchronize local files with Claude.ai projects"
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "watchdog",
    "requests",
    "pathspec",
]

[project.urls]
"Homepage" = "https://github.com/jahwag/claudesync"
"Bug Tracker" = "https://github.com/jahwag/claudesync/issues"

[project.scripts]
claudesync = "claudesync.main:main"

[tool.setuptools.packages.find]
where = ["src"]
